BOT_CLI_NAME=REST_API_Relay # optional, default is "REST_API_Relay". Defines config folder name.
LOG_LEVEL=info # optional, default is "info". Can be set to "debug" for more verbose logging.

ENABLE_WEBHOOK=false # optional, default is false. Set to true to enable webhook functionality.
WEBHOOK_URL=https://webhook.site/your-webhook-url
WEBHOOK_AUTH_TOKEN=supersecrettoken # optional, default is empty. If set, this token will be included in the "Authorization" header of all webhook requests for authentication.

API_PORT=8000
API_HOST=127.0.0.1
API_KEY=supersecretkey # required, no default. Set this to a strong secret key to secure the API.

MEDIA_DIR=DeltaChatBotsRestAPI_media # optional, default is a "DeltaChatBotsRestAPI_media" folder in the system temp directory. This is where media files will be stored when downloaded from Delta Chat, and served from when accessed via the API. You can set this to any folder path you like, but make sure the bot has read/write permissions for that folder.