BOT_CLI_NAME=REST_API_Relay # optional, default is "REST_API_Relay". Defines config folder name.
LOG_LEVEL=info # optional, default is "info". Can be set to "debug" for more verbose logging.

ENABLE_WEBHOOK=false # optional, default is false. Set to true to enable webhook functionality.
WEBHOOK_URL=https://webhook.site/your-webhook-url

API_PORT=8000
API_HOST=127.0.0.1
API_KEY=supersecretkey # required, no default. Set this to a strong secret key to secure the API.